.air_red {
  background-color: lightcoral !important;
}
.air_yellow {
  background-color: lightyellow !important;
}
.air_green {
  background-color: lightgreen !important;
}
.air_gray {
  background-color: lightgrey !important;
}
.air_nav_item {
  text-align: center; 
  font-size: 15px;
  font-weight: bold;
}
.gv_table_expand, .gv_table_sub_expand, .gv_table_cons_expand, .gv_table_cons_sub_expand {
  cursor: pointer;
}

.air_dl {
  display: none; 
  margin-bottom: 0px;
}

.air_key {
  float: left; 
  padding-right: 5px;
  font-weight: bold;
  text-transform: capitalize;
}

.air_value {
  margin-bottom: 0px;
}

.Centogene-container {
  padding: 5px;
  background-color: #ffffff;
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif !important;
}
  
.xp_select {
  cursor: pointer; }

.legendli {
  display: inline-block;
  width: auto;
  list-style-type: none; }

.triangle {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 13px solid;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  background-color: white;
  margin-right: 10px; 
  margin-bottom: 3px;
}

.triangle_small {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 11px solid;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  background-color: white;
  margin-right: 2px; 
  margin-bottom: 3px;
}

.popup_chart {
  width: 450px !important;
  height:250px !important;
}

.legendspan {
  display: inline-block;
  height: 15px;
  width: 15px;
  margin-right: 10px;
  border-radius: 25px;
  vertical-align: middle; }

.legendspan_small{
  display: inline-block;
  height: 12px;
  width: 12px;
  margin-right: 2px;
  border-radius: 25px;
  vertical-align: middle; 
  margin-bottom: 3px;
}

.xp_panel {
  border: none !important; }


.air_collapsible, .air_collapsible_smallgrey {
  color: white;
  cursor: pointer;
  width: 100%;
  border: 1px solid white;
  border-radius: 16px;
  text-align: left;
  outline: none !important;
  font-size: 15px;
  font-weight: bold;
}

.air_collapsible {
    background-color: #6E6EC8;
    padding: 10px;
    padding-left: 25px; }

.air_collapsible_smallgrey {
      background-color: lightgray;
}

.air_collapsible.active, .air_collapsible:hover {
  background-color: #6E6EC8; 
}

.air_collapsible:after, .air_collapsible_smallgrey:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px; }

.air_collapsible.active:after, .air_collapsible_smallgrey.active:after {
  content: "\2212"; }

.xp_slider {
  -webkit-appearance: none;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s; }

.xp_slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  opacity: 1;
  width: 17px;
  height: 23px;
  border-radius: 20%;
  background: #6E6EC8;
  cursor: pointer; }

.xp_slider::-moz-range-thumb {
  width: 20px;
  height: 25px;
  border-radius: 20%;
  background: #6E6EC8;
  cursor: pointer; }

.air_collapsible_content {
  padding: 0px 10px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  margin-bottom: 10px;
  background-color: white; }


.xp_panel_heading {
  background-color: #FF8C8C;
  font-weight: bold;
  color: white; }

.xp_elementinput:focus {
  box-shadow: none !important;
  outline: none !important;
  border-color: #FF8C8C; }

.xp_elementinput {
  border-color: #FF8C8C; }

.air_tab.active {
  color: #495057 !important; }

.air_tab {
  color: #337ab7;
  font-weight: bold;
}

.btn-group {
  width: 100%; }

.wrapper {
  text-align: center; }

.air_btn {
  background-color: #FF8C8C;
  border-color: #FF8C8C;
  font-weight: bold;
  color: white; 
  padding: 0;
  height: 32.5px;}

.air_btn:focus {
  outline: none !important;
  box-shadow: none !important;
  background-color: #FF8C8C;
  border-color: #FF8C8C;
  color: white; }

.air_btn:active, .air_btn:hover {
  background-color: #ff5959;
  border-color: #ff5959;
  color: white; }

.air_disabledbutton {
  pointer-events: none;
  opacity: 0.7; }

.air_btn_info {
  width: 20px;
  height: 20px;
  font-size: 0.8em;
  position: absolute;
  top: 15%;
  text-align: center !important;
  padding: 0;
  background-color: dimgrey; 
  margin-left: 3px;
  z-index: 2;
}

.air_btn_info:focus {
  box-shadow: none !important;
  outline: none !important; 
}
  .air_close {
    position: absolute;
    top: 15px;
    right: 5px;
    color: black;
    font-size: 25px;
    font-weight: bold;
    transition: 0.3s;
    margin-left: 5px;
}

.air_alert {
  padding-right: 30px;
}

.popover{
  max-width: 100px; /* Max Width of the popover (depending on the container!) */
}

.air_checkbox {
  margin: 2px 0px 0px 0px;
  text-align: center !important;
  color: #6d6d6d;
  cursor: pointer; }

.air_checkbox, input[type=checkbox] {
  vertical-align: middle; }

.air_checkbox_label {
  font-family: lato;
  color: #333
}
  
input[type=checkbox] .cbcontainer {
  margin-left: 0; }

.air_label {
  margin-bottom: 5px;
}

.air_tab {
  border-bottom: 1px solid darkgray !important;
}
.air_nav_tabs, .air_tab {
    border: 0px solid transparent;
    border-top-left-radius: 1rem !important;
    border-top-right-radius: 1rem !important;
    padding-left: 0px;
    padding-right: 0px;
}

.air_tab.active {
  border-color: darkgray darkgray #fafafa !important;
}

.air_tab_sub.active {
  background-color: #fafafa !important;
}

.air_tab_content {
  border: 1px solid darkgray;
  border-top: none;
}


.air_nav_tabs {
  margin-bottom: 0 !important;
}

.air_tab_pane {
  padding-top: 20px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  background-color: #fafafa;
}

.xp_molartContainer {
  width: 100%;
  overflow-x: auto;
  position: relative;
}

  
.mol_modal_content {
  margin: auto;
  display: block;
  width: 30%; }

  .air_select_label {
    padding-top: 4px !important;
    padding: 0;
    text-align: right;
    margin-left: 5px;
  }

.air_progress {
  color: white;
  background-color: #FF8C8C;
  width: 100%;
  height: 100%;
  margin: 0;
}
.air_progress_value {
  background-color: #ff5959;
  height: 100%;
}

.air_progress_label {
  height:100%;
  top: 4.5px;
  font-size: 1rem;
  font-weight: bold;
}